# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
.env/
.envrc

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data (optionnel - à adapter selon ton projet)
data/
datasets/

# Model files (optionnel)
*.h5
*.pt
*.pth
*.pkl

# IDE
.vscode/
.idea/